extends layout.pug

include utils.pug

block content
  h1 Ready to join the rabbit hole community?
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore

  div

    +validationErrors(errors)
    form(action='/user/create' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Username', 'userName', user.userName)
        +field('First Name', 'firstName', user.firstName)
        +field('Last Name', 'lastName', user.lastName)
        +field('Email', 'email', user.email)
        +field('Password', 'password', user.password, 'password')
        +field('Confirm Password', 'confirmPassword', '', 'password')
        div(class='py-4')
            button(type='submit') Register
            a(href='/') Cancel
  div
    p: a(href='/user/login') Sign In
