* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-banner {
  border: solid blue 2px;
  padding: 30em;
  background-image: url("/splash-imgs/rh-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-title {
  border: solid red 2px;
}
